@import "tailwindcss";


.nav-link {
  position: relative;
  display: inline-block;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: #8b6f5a; /* brown accent */
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}
