@import "tailwindcss";

:root {
  /* light */
  --bg: #f5f1eb;
  --text: #3e2f25;
  --card: #ffffff;
  --border: #e0d6cc;
  --accent: #8b6f5a;
}

.dark {
  /* dark*/
  --bg: #1a1410;
  --text: #f5f1eb;
  --card: #2a211b;
  --border: #3a2f28;
  --accent: #c8a98d;
}

body {
  background-color: var(--bg);
  color: var(--text);
  transition:
    background 0.3s ease,
    color 0.3s ease;
}

html {
  scroll-behavior: smooth;
}

.nav-link {
  position: relative;
  display: inline-block;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: #8b6f5a;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}


.theme-shutter {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  z-index: 9999;

  background: var(--bg);

  transition: height 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.theme-shutter.active {
  height: 100%;
}